* {
    font-family: 'Montserrat';
    color: #4F4946;
    font-weight: 800;
  }

body {
    display: flex;
    background-color: #A5755F;
    padding: 30px 30px;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 75px;
    margin-bottom: 100px;
}

#header-logo {
    height: 75px;
    width: 75px;
}

#header-left {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

#header-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    align-items: center;

}

#sideNav {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #FFF9F0;
    width: 40vw;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.503);
}

#post-form {
    background-color: #FFF9F0;
    display: flex;
    height: 80vh;
    width: 50vw;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.505);

}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.form-field {
    width: 90%;
    display: flex;
    justify-content: space-between;
    max-width: inherit;
}

label {
    font-size: 20px;
}

#form-field-left {
    display: flex;
    width: 100%;
    margin: auto;
}

#form-field-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 200px;
    margin: auto;
}

input {
    width: 156px;
}

select {
    width: 156px;
}

button {
    background-color: #90E4c1;
    border: none;
}

#username {
    display: flex;
    gap: 30px;
    margin-left: 10px;
}

#login {
    margin-top: 20px;
    display: flex;
    gap: 30px;
    background-color: #FFF9F0;
    height: 40vh;
    border-radius: 10px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.501);
    flex-direction: column;
    width: 60vw;
    justify-content: center;
    align-items: center;
}

#password {
    display: flex;
    gap: 30px;
    margin-left: 10px;
}

span {
    height: 50px;
    width: 50px;
}

#user-img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

#items-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 600px;
}

.items-post {
    border: 2px solid wheat;
    max-width: 300px;
}

#filter-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

#items-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}