* {
    font-family: 'Montserrat';
    font-weight: 800;
  }

body {
    display: flex;
    background-color: rgba(100,100,180);
    padding: 0px 30px;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
/*********************** Utility class***********************/
.blue-white-wrapper{
    background-color: rgb(30,30,255);
    color: white;
    padding: 15px;
    border-radius: 20px;
    width: 200px;
}
.underline{
    text-decoration: underline;
}
.big-line-height{
    line-height: 1.5em;
}
/*********************** Homepage ***********************/
.home-page-text-wrapper{
    margin: 20px 0px;
}
/*********************** Header ***********************/

.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    width: 95%;
    height: 75px;
    padding: 10px;
}

#header-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;

}

.hamburger-menu-button{
    background-color: rgb(240,240,240);
    border: none;
    border-radius: 20px;
}

/*********************** Side Nav ***********************/
#sideNav {
    display: flex;
    height: 95vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(100,100,250,0.6);
    color:white;
    width: 10rem;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.503);
}

#post-form {
    background-color: #FFF9F0;
    display: flex;
    height: 80vh;
    width: 50vw;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.505);

}



.form-field {
    width: 90%;
    display: flex;
    justify-content: space-between;
    max-width: inherit;
}

label {
    font-size: 20px;
}

#form-field-left {
    display: flex;
    width: 100%;
    margin: auto;
}

#form-field-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 200px;
    margin: auto;
}

input {
    width: 156px;
}

select {
    width: 156px;
}



#username {
    display: flex;
    gap: 30px;
    margin-left: 10px;
}

#login {
    margin-top: 20px;
    display: flex;
    gap: 30px;
    background-color: #FFF9F0;
    height: 40vh;
    border-radius: 10px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.501);
    flex-direction: column;
    width: 60vw;
    justify-content: center;
    align-items: center;
}

#password {
    display: flex;
    gap: 30px;
    margin-left: 10px;
}

span {
    height: 50px;
    width: 50px;
}

.header-img {
    width: 70px;
    height: 70px;
    border-radius: 70px;
}

#items-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 600px;
}

.items-post {
    border: 2px solid wheat;
    max-width: 300px;
}

#filter-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

#items-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}